<link rel = "stylesheet" href = "/app.css">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<h1>JOIN US</h1>
<p class = 'lead'> Enter your email to join <strong><%=data%></strong>
others on our waitlist. </p>
<p class = 'lead'> We are 100% not a cult. </p>
<form method = 'post' action='/register'>
    <input type = "text" name = "email" class = "form" placeholder = "Enter Your Email">
    <button>Join Now</button>
</form>