<link rel = "stylesheet" href = "/app.css">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<h1>JOIN US</h1>
<p class = 'lead'> There are <strong><%=data%></strong> employees already.</p>
<form method = 'post' action='/register'>
    <input type = "text" name = "Name" class = "form" placeholder = "first name">
    <input type = "text" name = "Address" class = "form" placeholder = "last name">
    <button>Join Now</button>
</form>
