<link rel = "stylesheet" href = "/app.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
<h1>ERROR</h1>
<p class = 'lead'> There has been an error: <strong><%=error%></strong>.</p>
