body{
    text-align: center;
    /*text-shadow: 0.05 rem .1rem rgba(0,0,0,.5);*/
    font-family: Poppins;
    color: black;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1522143350074-e1b4a185d42d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1156&q=80');
    background-size: cover;
    font-weight: 100;
}

h1{
    margin: 100px;
    font-size: 150px;
    line-height: 100px;
    font-weight: 100;
}

p{
    margin: 0;
    font-size: 30px;
}

.form{
    line-height: 1.5;
    border: none;
    border-bottom: 3px solid #ebebeb;
    background: transparent;
}

input:focus {
    outline: none;
}
::-webkit-input-placeholder{
    color: grey;
}
